


/* ----------------------------------------------------------------------- */


.section-header-child {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--black-88);
  box-sizing: border-box;
  height: 1px;
}
.section-header {
  width: 930px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
}
.company-name,
.job-title {
  position: relative;
}
.company-name {
  font-size: var(--body-normal-height-size);
}
.job-title-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-child {
  width: 197px;
  position: relative;
  border-top: 1px solid var(--black-88);
  box-sizing: border-box;
  height: 1px;
}
.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.apr-2018- {
  position: relative;
  font-size: var(--caption-size);
  line-height: 170%;
}
.experience-summary {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-xs);
}
.experience-card-child {
  align-self: stretch;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--black-88);
  box-sizing: border-box;
}
.lorem-ipsum-dolor-sit-amet-co {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.lorem-ipsum-dolor-container {
  width: 670px;
  position: relative;
  line-height: 170%;
  display: inline-block;
}
.experience-card,
.experience-details {
  display: flex;
  justify-content: flex-start;
}
.experience-details {
  width: 682px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-80xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
  font-size: var(--body-normal-height-size);
}
.experience-card {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xl);
}
.experience-details1,
.experience-summary1,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience-details1 {
  width: 682px;
  padding: 0 var(--padding-80xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.experience-summary1,
.frame-group {
  gap: var(--gap-3xs);
}
.experience-summary1 {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--heading-4-size);
}
.experience-card1 {
  width: 930px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  font-size: var(--body-normal-height-size);
}
.experience,
.experienve-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  font-size: var(--heading-4-size);
}
.experience {
  position: relative;
  /* background-color: var(--white); */
  width: 100%;
  /* padding: 120px 255px; */
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-2-size);
  color: var(--black-88);
  font-family: var(--caption);
}



body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --caption: Inter;

  /* font sizes */
  --caption-size: 14px;
  --body-normal-height-size: 16px;
  --heading-4-size: 24px;
  --heading-2-size: 36px;

  /* Colors */
  --white: #fff;
  --black-88: #1f1f1f;

  /* Gaps */
  --gap-31xl: 50px;
  --gap-7xl: 26px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-80xl: 99px;
  --padding-2xl: 21px;
}
