h4 {
  font-size: 21px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 10px;
  color: #636363;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.section-title {
  margin-bottom: 50px;
}

.subtitle {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-image,
.about-description {
  flex: 1;
  min-width: 280px;
}

.about-img {
  border-radius: 50%;
  width: 380px;
  height: 380px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.about-img:hover {
  transform: scale(1.05);
}

.greet {
  font-size: 2.5rem;
  color: #626262;
}

.textt {
  text-align: justify;
  color: #626262;
}

.skills-list {
  list-style-type: disc;
  /* margin-top: 20px; */
  padding-left: 13px;
  text-align: left;
}

.skills-list li {
  margin-bottom: 10px;
}

/* .hirebutton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
} */

/* .hirebutton:hover {
  transform: scale(1.1);
} */

ol, ul {
  padding-left: 1rem;
}

/* Animations */
.fadeIn {
  animation: fadeIn 1s ease forwards;
}

.fadeInLeft {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 1s ease forwards;
}

.fadeInRight {
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 1s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

/* Responsive */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
/* Responsive */
@media (max-width: 1200px) {
  .about-img {
   
    width: 300px;
    height: 300px;

  }
  
}
