.subtitle {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.box-left {
  margin-top: 30px;
  margin-right: 30px;
}

.box-right {
  margin-top: 30px;

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 5px;
}

.about-img {
  height: 350px;
  width: 350px;
}
.greet {
  font-size: 35px;
  line-height: 68px;
  font-weight: 500;
  color: #626262;
  margin-bottom: 1px;
}
.ivertedcomaa {
  font-size: 40px;
  font-family: "Francois One", sans-serif;
  color: var(--primary-color);
  line-height: 28px;
}
.textt {
  text-align: justify;
  color: #626262;
  margin-bottom: 1px;
}

.hirebutton {
  margin: 10px;
}
/* responsive */

@media (max-width: 1200px) {
  .greet {
    margin-left: 0;
  }

  .about-img {
    /* width: 230px; */
    width: 295px;
  }
}
@media (max-width: 768px) {
  .greet {
    margin-left: 0;
  }
  .box-right {
    box-shadow: none;
  }
}
