.box-left-contact {
  margin-top: 30px;
  margin-right: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.box-right-contact {
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.contact-form-wrapper {
  padding: 30px;
  border-radius: 10px;
  margin-left: 20px;
  height: 100%;
}
.contact-form-wrapper .introduce {
  display: flex;
  justify-content: space-between;
}
.form-group {
  margin-bottom: 20px;
}
.contact-form-wrapper input {
  background-color: #fdfefe;
  border: 2px solid #dadada;

  box-shadow: none;
}
.contact-form-wrapper label {
  font-size: 12px;
  color: #646970;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 14px;
  text-align: left;
  display: block;
}
.form-group label {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
label {
  display: inline-block;
}

/* box-left-contact */

.box-left-contact {
  margin-top: 30px;
  margin-right: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.thumbnail {
  height: 246px;
  width: 422px;
  padding-top: 23px;
  margin-bottom: 50px;
}
.list-unstyled-contact {
  list-style: none;
  padding-top: 0;
  padding-left: 0;
}
.name {
  margin-top: 26px;
  font-size: 20px;
}
.phone {
  margin-right: 47px;
}
.title {
  font-size: 33px;
  line-height: 1.3;
  font-weight: 500;

  margin-bottom: 10px;
}
textarea {
  height: 150px;
  width: 458px;
  border: 2px solid #dadada;
  border-radius: 3px;
}
.main-btn-contact {
  display: inline-block;
  transition: all 0.4s ease-in-out;
  padding: 10px 71px;
  background-color: transparent;
  border: 0px solid rgb(66, 66, 66);
  color: var(--primary-color);
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 28px;
  margin-top: 32px;
  margin-right: 35px;
}
.main-btn-contact:hover {
  background-color: var(--primary-color);
  color: white;
}
@media (max-width: 1200px) {
  textarea {
    width: 275px;
    /* width: 374px; */
  }
  .main-btn-contact {
    padding: 0px 45px;
  }
  .thumbnail {
    width: 275px;
  }
  .contact-form-wrapper {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .thumbnail {
    width: 355px;
  }
  .row > * {
    padding-right: 2px;
  }
  .box-left-contact {
    margin-right: 3px;
  }
  .main-btn-contact {
    padding: 9px 45px;
  }
  .contact-form-wrapper {
    /* margin-left: 4px; */
    /* margin-left: -11px; */
    margin-left: 0px;
  }
  textarea {
    height: 150px;
    /* width: 445px; */
    width: 328px;
    margin-right: 40px;
  }
  .box-left-contact {
    box-shadow: none;
  }

  .box-right-contact {
    /* box-shadow: none; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
@media (max-width: 375px) {
  .main-btn-contact {
    padding: 10px 26px;
  }
  textarea {
    width: 300px;
  }
}
