.section-separator {
  position: relative;
}

.rn-section-gap {
  padding: 100px 0;
}

.section-separator::after {
  position: absolute;
  max-width: 1270px;
  height: 1px;
  background: #dadada;
  content: "";
  top: 56px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
