@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat:wght@700&display=swap");

h1 {
  font-size: 45px;
  line-height: 68px;
  font-weight: 800;
  color: black;
  margin-bottom: 1px;
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 50px;
  line-height: 1.3;
  font-weight: 800;
  color: black;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
h4 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 800;
  margin-bottom: 10px;
}
h6 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  font-weight: 900;
  color: rgb(61, 61, 61);
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.box1 {
  margin-top: 30px;
  margin-right: 40px;
}

.box2 {
  margin-top: 30px;
}

img {
  height: 500px;
}

.banner-wrapper .blink {
  font-size: 35px;
  line-height: 68px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  /* animation: animated-text 3s steps(30, end) 1s 1 normal backwards; */
}

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 352px;
  }
}

.typewrite {
  text-decoration: none;
  color: #ff014f;
}

.main-btn {
  display: inline-block;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 1px solid rgb(66, 66, 66);
  color: var(--primary-color);
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-btn:hover {
  background-color: var(--primary-color);
  border: 1px solid black;
  color: white;
}

.wrap {
  color: var(--primary-color);
}

/* social icon */

.social-icon li {
  margin: 6px;
  color: #fd4766;
}

.social-icon a {
  width: 45px;
  height: 45px;
  line-height: 42px;
  font-size: 20px;
  display: inline-block;
  border: 1px solid black;
  color: #091020;
  border-radius: 100%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-icon a:hover {
  background-color: rgba(255, 51, 51, 0.918);
  border-color: var(--primary-color);
  color: white;
  box-shadow: 0 10px 15px 0 rgb(0, 0, 0/10%);
  transform: translateY(-3px);
}
.list-unstyled {
  /* padding-right: 253px; */
  padding-right: 345px;
  list-style: none;
  padding-top: 21px;
}

/* responsive */

@media (max-width: 1200px) {
  .banner-wrapper .blink {
    font-size: 29px;
  }
  img {
    height: 418px;
  }
  .list-unstyled {
    padding-right: 50px;
  }
}
@media (max-width: 1400px) {
  .list-unstyled {
    padding-right: 259px;
  }
}

@media (max-width: 1200px) {
  .banner-wrapper .blink {
    font-size: 29px;
  }
  img {
    /* height: 418px; */
    height: 300px;
  }
  .list-unstyled {
    padding-right: 50px;
  }
}
@media (max-width: 768px) {
  .list-unstyled {
    padding-right: 0;
  }
  .banner-wrapper .blink {
    font-size: 32px;
  }
  h1 {
    font-size: 29px;
  }
  .list-unstyled {
    padding-right: 0px;
  }
}
