.modal-body {
  width: 960px;
}

.textarea-login {
  height: 53px;
  width: 379px;
  border: 2px solid #dadada;
  border-radius: 3px;
}

.col-lg-6-login {
  flex: 0 0 auto;
  width: 100%;
}

/* responsive */

@media (max-width: 768px) {
  .modal-body {
    width: 380px;
  }
  .form-control {
    width: 91%;
  }
}
