.portfolio-wrapper .card {
  height: 100%;
  min-height: 350px;
  overflow: hidden;
  border: 1px solid var(--bg-white);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-wrapper .card {
  width: 100%;
  height: 100%;
  background-position: top cenetr;
  background-size: cover;
}

.portfolio-wrapper .card:hover {
  background-position: bottom center;
}
.card-image {
  height: 342px;
  padding: 7px;
  transition: 0.65s;
}
.card-image:hover {
  transform: scale(1.1);
}

.main-btn-services {
  display: inline-block;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
  padding: 6px 15px;

  color: var(--primary-color);
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-btn-services:hover {
  background-color: var(--primary-color);
  color: white;
}

@media (max-width: 760px) {
  .card-image {
    height: 455px;
    padding: 12px;
  }
}
