

.services-section {
  background-color: #ffffff63; /* Light gray background */
  padding: 60px 20px;
  color: #333; /* Dark gray text color */
}

.section-titlee {
  color: #b31b1b; /* Bold red color for the title */
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.service-item {
  background-color: #ffffff; /* White background for each service item */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.service-item:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
}

.service-icon {
  font-size: 3rem;
  color: #b31b1b; /* Red color for icons */
  margin-bottom: 20px;
}

.service-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444; /* Dark gray for headings */
  margin-bottom: 15px;
}

.service-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #555; /* Medium gray for descriptions */
}

