:root {
  --primary-color: #ff014f;
}

a {
  text-decoration: none;
}

.strength-font {
  color: black;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-align: justify;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 6px 2px 18px 3px rgba(0, 0, 0, 0.19);
  padding: 15px;
}

ul.nav-pills {
  border: 1px solid rgb(206, 205, 205);
  border-radius: 50px;
  height: 46px;
  background-color: #ebe5ed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.test.nav-link {
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: black;
  border: 0;
  padding: 10px;
}

.test.nav-link.active {
  background-color: var(--primary-color);
  border: 0.5px solid black;
  height: 45px;
  width: auto;
  padding: 5px;
}

.test:hover {
  background-color: rgba(182, 182, 182, 0.705);
  border: 0.5px solid black;
  height: 45px;
  width: auto;
  padding: 5px;
}

.single-progress {
  margin-top: 26px;
  position: relative;
  overflow: hidden;
}

.single-progress .progress {
  height: 4px;
  border-radius: 4px;
  box-shadow: none;
  background-color: transparent;
  overflow: visible;
}

.single-progress .progress-bar {
  background-color: #ebe5ed;
}

.single-progress .label {
  position: absolute;
  right: 16px;
  top: 0;

  color: black;
  font-size: 15px;
  font-weight: 700;
}

.tab-pane li {
  color: red;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 700;
  list-style: none;

  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 6px 2px 18px 3px rgba(0, 0, 0, 0.19);
}

.tab-pane li a {
  font-weight: 700;
  display: block;
  color: black;
}

.ex2 {
  width: 850px;
  height: 351px;
  overflow: auto;
  margin-left: 43px;
}
.meter {
  height: 4px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progresss {
  background: rgb(235, 47, 0);
  background: linear-gradient(
    90deg,
    rgba(235, 47, 0, 1) 0%,
    rgba(29, 109, 253, 0.8631827731092436) 75%,
    rgba(142, 58, 180, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
  animation: progressBar 1s ease-in-out;
  animation-fill-mode: both;
  animation: progressBar 1s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* progres bar anmimation  end*/

/* responsive */

@media (max-width: 768px) {
  .nav-link-skill {
    font-size: 15px;
  }
  .test:hover {
    padding: 10px;
  }
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  ul.nav-pills {
    border: 0;
    border-radius: 0;
    height: 40px;
    margin-bottom: 10px;
    margin: 8px;
  }
  .test.nav-link {
    padding: 4px;
  }
  .single-progress .label {
    font-size: 0;
  }
  .test.nav-link.active {
    padding: 8px;
  }
  .ex2 {
    margin-left: 0px;
  }
  .test.nav-link.active {
    height: 40px;
  }
}
/* @media (max-width: 375px) {
  .justify-content-lg-between {
    justify-content: none !important;
  }
} */

@media (max-width: 1200px) {
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
}
